.App {
  text-align: center;
  background-color: #2f2fa2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header h3{
  padding: 0;
  margin: 0;
  text-align:left;
  margin-left: 50px;
  display: inline-block;
}

.Header h6{
  display: inline-block;
  padding: 0;
  margin-left: 50px;
}

.Header {
  flex: .1;
  display: block;
  justify-content: center;
  flex-direction: column;
  background-color: #2f2fa2;
  width: 100%;
  color: #F64C72;
  text-align: left;
}

.Quiz {
  flex: .9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.Item {
  height: 20vw;
  width: 15vw;
}

.Item img {
  height: 20vw;
  width: 15vw;
}

.Item img:hover {
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
      height: 21vw;
      width: 16vw;
    }

.Info {
  height: 20vw;
  width: 15vw;
  display: flex;
  background-color: #2f2fa2;
  flex-direction: column;
  list-style-type: none;
  font-size: large;
  flex-wrap: wrap;
}

.title {
  font-size: large;
  font-weight: 800;
}

.Recommended {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  background-color: #2f2fa2;
}

.RecommendedContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #2f2fa2;
}

.quizContainer {
  width: 100%;
  background-color: #2f2fa2;
}

.status{
  font-size: 1.3vw;
}
