.App {
  text-align: center;
  background-color: #70A0AF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: #331E38;
}

.App-link {
  color: #61dafb;
}

.Header h3{
  padding: 0;
  margin: 0;
}

.Header h6{
  padding: 0;
  margin: 0;
}

.Header {
  flex: .1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #706993;
  width: 100%;
  color: #A0C1B9;
}

.Quiz {
  flex: .9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.Item {
  border: 1px solid black;
  height: 20vw;
  width: 15vw;
}

.Item img {
  height: 20vw;
  width: 15vw;
}

.Recommended {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #A0C1B9;
}